

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="style.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<h1>Welcome to TestWiz</h1>
<h2>Where Brilliant Ideas Thrive!</h2><hr>
<h3 style='color:Pink'>Believe me it is going to happen very soon. Gee Whiz!</h3>
<div style='color:green'>
{{result.ClientName}}

<p style='font-size:20px'>{{{result}}}</p>
</div>


